.cal
{
    width: 400px;
    height: 500px;
    background-color:rgba(200,200,50,.5) ;
    margin: 10px;
    padding: 10px;
    border: 2px solid ;
    border-radius: 5px 5px;
    display: grid;
    grid-template-columns: repeat(3,.4fr);
    gap: 15px;
    justify-content: stretch;
    align-items: stretch;
    margin-top: 30px;
    
    
    

}
input
{
    background-color: rgba(0,0,0,.7);
    color: #ffffff;
    border: 2px solid;
    border-radius: 5px 5px;
    font-size: 1.5rem;
    grid-column:1/span 3;
    cursor: pointer;
}
button
{
    background-color: rgba(100,100,200,.9);
    color: rgba(0,0,0,.9);
    font-size: 1.5rem;
    border: solid 1px;
    border-radius: 50%;
    
}


button:focus
{
    background-color: rgba(200,20,20,.5);
}
#clear
{
    background-color: rgba(00,100,10,.6);
    color: #ffffff;
}
#clear:focus
{
    background-color: rgba(200,20,20,.5); 
}